.todos {
    background-color: #caf0f8;
    display: flex;
    padding: 19px;
    justify-content: space-between;
    margin: 5px 10px 10px 10px;
    border: 2px;
    border-radius: 15px;
}


.todos button {
    margin: 10px 0px 10px 0px;

}

.todos-task {
    margin: 10px;
}

.form-update {
    padding: 1.5px;
    background-color: lightblue;
    margin: 5px 10px 5px 10px;
}

.form-update form {
    display: flex;
    justify-content: space-between;
}

.form-update button {
    margin: 20px 10px 20px 10px;
}